{{> navbar}}
{{!-- <section class="about-banner banner-item-01">
    <div class="banner-text">
        <h1>About us</h1>
    </div>
</section> --}}
<section>
    <div class="container about-container">
        <div class="featureJobs" style="text-align:center">
            <span >Job Agency</span>
        </div>
        <div class="row gx-5">
            <div class="col-md-6 col-12">
                <img src="../images/assets/images/about-1-570x350.jpg" alt="" width = "500px">
            </div>
            <div class="col-md-6 col-12 about-content">
                <span>

<p>Welcome to our Job Portal Application, your one-stop destination for all your job search and recruitment needs. We understand the challenges and complexities involved in finding the right job or the perfect candidate, and our platform is designed to simplify the process and connect job seekers with employers seamlessly.

</p><p>At Job Portal Application, we believe that every individual deserves an opportunity to pursue their dream career, and every organization should have access to talented individuals who can contribute to their success. With this vision in mind, we have created a robust and user-friendly platform that empowers both job seekers and employers to achieve their goals.

</p><p>Our mission is to bridge the gap between job seekers and employers by providing a reliable and efficient platform that brings them together. Whether you are a fresh graduate looking for your first job, an experienced professional seeking new opportunities, or an employer searching for top talent, we have got you covered.

</p>
                </span>
            </div>
        </div>
    </div>
</section>