{{> navbar}}
<!--Banner Area -->
<section class="banner banner-item-01">
    <div class="banner-text">
        <h4>Find your job today!</h4>
        <h2>Best Agency to help you find job</h2>
    </div>
</section>
<!---Job Featuring Area --->
<section>
    <div class="container">
        <div class = "featureJobs">
            <span>Featured Jobs</span>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/assets/images/product-1-370x270.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Painting</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/assets/images/product-2-370x270.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Civil Servant</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/assets/images/product-3-370x270.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">Teaching</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---Happy Clients-------->
<section>
    <div class="container">
        <div class = "featureJobs">
            <span>Happy Clients</span>
        </div>
        <div class="row">
            <div class="col-md-4 col-12 happy-client">
                <img src="../images/assets/images/team_01.jpg" alt="" height="250px">
                <span>Anthony Gill</span>
                <em>"This is an awesome agency."</em>
            </div>
            <div class="col-md-4 col-12 happy-client">
                <img src="../images/assets/images/team_02.jpg" alt="" height="250px">
                <span>Sarah Gilbert</span>
                <em>"I really liked this agency."</em>
            </div>
            <div class="col-md-4 col-12 happy-client">
                <img src="../images/assets/images/team_03.jpg" alt="" height="250px">
                <span>Ashton Kutcher</span>
                <em>"This is my favourite agency."</em>
            </div>
        </div>
    </div>
</section>